.h-95 {
  height: 94.2vh !important;
}

/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* ************ ChatRooms ************ */
/* .chatroom-contanier,
.chatroom-name-last-msg-container,
.chatroom-name,
.chatroom-last-message {
  border: 2px solid black;
}
.chat-section {
  border: 2px solid black;
}
.chatrooms-outer-container {
  height: 100%;
  width: 20%;
}

.chatrooms-inner-container {
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 91%;
  overflow: scroll;
  flex-direction: column;
  gap: 0.9rem;
}

.chatroom-img {
  width: 3rem;
  height: 3rem;
  border: 1px solid black;
  border-radius: 50rem;
}
.chatroom-name-last-msg-container {
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.2rem;
}
.chatroom-name {
  display: inline-block;
}
.chatroom-last-message {
  display: inline-block;
}
.chats-outer-container {
  height: 100%;
  width: 80%;
  border: 2px solid black;
} */
