.login-signup--container {
  display: flex;
}

/* colors */

/* #F2DCDE */
/* #F2C2D8 */
/* #94ABF2 */
/* #99B6F2 */
/* #B6DBF2 */
/* #root {
   max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
.login-signup-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100vh;
}
.website-logo {
  width: 2.2rem;
}
.greetings-h1 {
  gap: 0.4rem;
  font-size: 2.4rem;
  margin-bottom: 1.8rem;
}
.login-signup-inner-container {
  box-sizing: border-box;
  width: fit-content;
}
.login-signup-buttons-container {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  justify-content: space-between;
  /* border: 2px solid black; */
}
.login-signup-btn {
  width: 50%;
}
.login-form-btn {
  background-color: #f2c2d8;
}
.login-form-btn:active {
  background-color: #e7b6cd;
}
.signup-form-btn {
  background-color: #f2dcde;
}
.signup-form-btn:active {
  background-color: #f3cccf;
}
.Login-signup-form-container {
  height: 18rem;
}
